<div>
  <div class="header">
    <h1> CHƯƠNG TRÌNH CỘNG TÁC </h1>
  </div>
  <div class="collaboration-list">
    <form class="collaboration-filter-section" [formGroup]="filterForm" *ngIf="filterForm">
      <div class="collaboration-filter">
        <input type="text" pInputText formControlName="title" placeholder="Nội dung" />
        <p-dropdown formControlName="status" showClear="true" [options]="referralProgramStatus" optionLabel="label" optionValue="value"
          placeholder="Trạng thái">
        </p-dropdown>
        <p-calendar formControlName="startDate" placeholder="Từ ngày" showButtonBar="true" dateFormat="dd/mm/yy" placeholder="Từ ngày (dd/mm/yyyyy)"> </p-calendar>
        <p-calendar formControlName="endDate" placeholder="Đến ngày" showButtonBar="true" dateFormat="dd/mm/yy" placeholder="Đến ngày (dd/mm/yyyyy)"></p-calendar>
        <button type="submit" label="Lọc" pButton pRipple type="button"
          icon="{{ isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-search'}}" (click)="searchCollaboration()"
          class="p-button-outlined"></button>
      </div>

      <div class="tabs-user-status">
        <p-selectButton [options]="referralProgramUserStatus" formControlName="userStatus"></p-selectButton>
      </div>
    </form>
    <div class="collaboration-table-section">
      <div class="empty-section" *ngIf="!isLoading && ( !collaborations || !collaborations.length )">
        Hiện đang không có chương trình nào diễn ra
      </div>
      <div class="loading-table" *ngIf="isLoading">
        <p><i class="pi pi-spin pi-spinner" style="font-size: 3em"></i></p>
        <p> Đang tải dữ liệu </p>
      </div>
      <div class="collaboration-table" *ngIf="!isLoading">
        <div class="collaboration-item" *ngFor="let collaboration of collaborations">
          <div class="img-section" [ngStyle]="{'background-image': 'url(' + collaboration.thumbUrl + ')'}">
          </div>
          <div class="content">
            <div class="fullname">
              <p class="status" pTooltip="{{ collaboration.statusDisplay }}" tooltipPosition="top"> {{
                collaboration.statusDisplay }}</p>
              <p class="name" pTooltip="{{ collaboration.title }}" tooltipPosition="top"> {{ collaboration.title }} </p>
            </div>
            <div class="date">
              <p>
                Thời gian:
                {{ collaboration.startDate | date: 'dd/MM/yyyy h:mm' }} -
                {{ collaboration.endDate | date: 'dd/MM/yyyy h:mm' }}
              </p>
            </div>
            <div class="desc">
              <div style="color: red;margin-bottom: 8px;">
                <i>{{ collaboration.temp }}</i>
              </div>
              <div>
                <i>{{ collaboration.subTitle }}</i>
              </div>
            </div>
          </div>
          <div class="action">
            <button pButton pRipple type="button" (click)="viewDetail(collaboration)" label="Xem chi tiết"
              class="p-button-outlined p-button-info"></button>
            <button pButton pRipple type="button" label="Đăng kí ngay" class="p-button-outlined p-button-info"></button>
          </div>
        </div>
      </div>
      <p-paginator #paginator (onPageChange)="paginate($event)" [rows]="pageSize" [totalRecords]="totalCollaborations">
      </p-paginator>
    </div>

  </div>
</div>