<div id="print-ycgh-50-50-{{printBillData.index}}" style="display: none;">
  <div class="page"  >
    <h1 style="text-align: center;"> GHN </h1>
    <div class="arcode-section" style="text-align: center;">
      <ngx-barcode [bc-value]="printBillData.shipment.transporterPackageNumber" bc-height="30" bc-font-size="15" bc-width="1.8"
        [bc-display-value]="true" [bc-margin-top]="1" [bc-margin-bottom]="1">
      </ngx-barcode>
    </div>
    <div *ngIf="printBillData.shipment && printBillData.shipment.transporterPackageNumber">
      <strong> {{printBillData.shipment.transporterPackageNumber}}  </strong>
    </div>
    <div class="delivery-request" >
      <div>{{printBillData.shipment.contactName}} </div>
      <div>{{printBillData.shipment.contactPhone}} </div>
      <div>From: {{printBillData.shipment.fromAddress}}</div>
      <div>To: {{printBillData.shipment.toAddress}}</div>
    </div>
  </div>
</div>