<b>ĐỔI MẬT KHẨU</b>
<div class="benngoai">
   <form #formChangePassWord="ngForm">
      <div class="fieldAdd">
         <b>Nhập mật khẩu cũ</b><input type="password" pInputText class="inputAdd" ngModel name="oldPassword"
            placeholder="Mật khẩu cũ" required>
      </div>
      <div class="fieldAdd">
         <b>Mật khẩu mới</b><input type="password" pInputText class="inputAdd" ngModel name="newPassword"
            placeholder="Mật khẩu mới" required pattern="(?=.*[a-z0-9]).{6,}">
      </div>
      <div class="smalltip">
         <p class="theP">Mật khẩu từ 6 kí tự trở lên, không bao gồm khoảng trắng</p>
      </div>
      <div class="fieldAdd">
         <b>Nhập lại mật khẩu mới</b><input type="password" pInputText class="inputAdd" ngModel name="reNewPassword" 
         placeholder="Nhập lại mật khẩu mới" required>
      </div>
      <div class="smalltip" *ngIf="thongbaoloi">
        <p class="theP" style="color:red"><i class="fa fa-info-circle"></i> {{thongbao}}</p>
     </div>
      <div class="fieldAdd">
         <div class="inputAdd" style="display: inline-block;text-align: left;">
            <div class="btnSubmit">
               <button style="border-color:#c7c7c7; background-color: orangered;color:white;" 
               class="btnDoiMatKhau" (click)="changePass(formChangePassWord)">
                  Đổi mật khẩu</button>
            </div>
            <div class="quaylai">
               <button style="border-color:gray;" class="btnDoiMatKhau" (click)="return()">Quay lại</button>
            </div>
         </div>
      </div>
   </form>
   <div class="notice" *ngIf="changeSuccess">
    <img src="assets/images/icon_check.png"><br>
    <span class="noticeSuccess">Đổi mật khẩu thành công</span>
  </div>
  <div class="spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

</div>
<p-confirmDialog appendTo="body" key="changepass" header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>
