<p-toast></p-toast>
<form class="collaboration-filter-section" [formGroup]="filterForm" *ngIf="filterForm">
  <p-calendar selectionMode="range" showButtonBar="true" formControlName="dateRange" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy, dd/mm/yyyy">
  </p-calendar>

  <p-dropdown appendTo="body" formControlName="referralProgramUserId" placeholder="Chiến dịch" showClear="true"
    filter="true" filterBy="name" [options]="lsReferralProgram" optionLabel="name">

    <!-- optionLabel="name"  -->
    <!-- <ng-template let-referralProgramUser pTemplate="selectedItem">
      <span style="vertical-align:middle">{{referralProgramUser.name}}</span>
    </ng-template>
    <ng-template let-referralProgramUserInfor pTemplate="item">
      <div style="height:70px;">
        <div style="font-size:14px;margin-top:8px">{{referralProgramUserInfor.name}}</div>
        <img src="{{referralProgramUserInfor.thumbUrl}}" style="width: 100%;max-width: 200px; max-height: 50px; display: block;" />
      </div>
    </ng-template> -->

  </p-dropdown>


  <button type="submit" label="Lọc" pButton pRipple type="button"
    icon="{{ isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-search'}}" (click)="searchReferralProgramUser()"
    class="p-button-outlined"></button>
</form>

<ng-template #loadingContent>
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</ng-template>

<div class="statistic">
  <div class="row">
    <!-- 1 -->
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="statistic-item ">
        <div class="left">
          <p class="title" pTooltip="Hoa hồng phát sinh" tooltipPosition="top">
            Hoa hồng phát sinh
          </p>
          <p class="count">
            <span *ngIf="!isLoading ;else loadingContent ">
              {{ referralProgramUser?.totalRefAmount | number }}
            </span>
          </p>
        </div>
        <div class="right">
          <mat-icon class="icon">card_travel</mat-icon>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="statistic-item ">
        <div class="left">
          <p class="title" pTooltip="Tổng số tiền chưa thanh toán" tooltipPosition="top">
            Tổng số tiền chưa thanh toán
          </p>
          <p class="count">
            <span *ngIf="!isLoading ;else loadingContent ">
              {{ ( referralProgramUser?.totalRefAmount - referralProgramUser?.totalPayAmount) | number }}
            </span>
          </p>
        </div>
        <div class="right">
          <mat-icon class="icon">attach_money</mat-icon>
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="statistic-item ">
        <div class="left">
          <p class="title" pTooltip="Tổng số Click" tooltipPosition="top">
            Tổng số Click
          </p>
          <p class="count">
            <span *ngIf="!isLoading ;else loadingContent ">
              {{ referralProgramUser?.totalClick | number }}
            </span>
          </p>
        </div>
        <div class="right">
          <mat-icon class="icon" style="transform: rotate(-45deg );">send</mat-icon>
        </div>
      </div>
    </div>

    <!-- 4 -->
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="statistic-item ">
        <div class="left">
          <p class="title" pTooltip="Tổng số đăng ký" tooltipPosition="top">
            Tổng số đăng ký
          </p>
          <p class="count">
            <span *ngIf="!isLoading ;else loadingContent ">
              {{ referralProgramUser?.totalReg | number }}
            </span>
          </p>
        </div>
        <div class="right">
          <mat-icon class="icon">person_add</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="statistic-table">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <h5 class="title"> Danh sách đơn hàng </h5>
      <div class="statistic-row row" *ngIf="lsReferralOrder">
        <div class="col-sm-12 col-md-3 col-lg-3 statistic-item">
          <div class="count" *ngIf="lsReferralOrder.countAll !== null"> {{ lsReferralOrder.countAll }} </div>
          <div class="status all"> Tổng số </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 statistic-item">
          <div class="count" *ngIf="lsReferralOrder.countAccept !== null"> {{ lsReferralOrder.countAccept }} </div>
          <div class="status accept"> Tạm duyệt </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 statistic-item">
          <div class="count" *ngIf="lsReferralOrder.countCancel !== null"> {{ lsReferralOrder.countCancel }} </div>
          <div class="status cancel"> Từ chối </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 statistic-item">
          <div class="count" *ngIf="lsReferralOrder.countWait !== null"> {{ lsReferralOrder.countWait }} </div>
          <div class="status wait"> Chờ xử lý </div>
        </div>
      </div>
      <p-table [value]="lsReferralOrder['lsData']" *ngIf="lsReferralOrder && lsReferralOrder['lsData']"
        [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Mã ĐH</th>
            <th>Hoa hồng</th>
            <th>Thanh toán</th>
            <th>Ngày đặt</th>
            <th>Lý do</th>
            <th>Trạng thái</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-referralOrder>
          <tr>
            <td>{{referralOrder.orderId}}</td>
            <td>{{referralOrder.refAmount}} {{referralOrder.symbols}} </td>
            <td>{{referralOrder.refAmount}} {{referralOrder.symbols}}</td>
            <td>{{ referralOrder.createdDate | date: 'dd/MM/yyyy h:mm' }}</td>
            <td>{{referralOrder.reasion}}</td>
            <td>
              <div pTooltip="{{referralOrder.statusDisplay}}" tooltipPosition="top" [ngClass]="{
                  'status': true, 
                  'accept': referralOrder.status == '1',
                  'wait': referralOrder.status == '2',
                  'cancel': referralOrder.status == '3',
                  'all': referralOrder.status == null
                }">
                {{referralOrder.statusDisplay}}
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h5 class="title"> Lịch sử mua hàng đơn hàng </h5>
      <p-table [value]="lsCommissionRequestPayment['lsData']" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Phương thức</th>
            <th>Ngày thanh toán</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-requestPayment>
          <tr>
            <td>{{requestPayment.typeDisplay}}</td>
            <td>{{requestPayment.requestDate | date: 'dd/MM/yyyy h:mm' }}</td>
            <td>{{requestPayment.amount }} </td>
            <td>
              <div pTooltip="{{requestPayment.statusDisplay}}" tooltipPosition="top" [ngClass]="{
                  'status': true, 
                  'accept': requestPayment.status == '1',
                  'wait': requestPayment.status == '2',
                  'cancel': requestPayment.status == '3',
                  'all': requestPayment.status == null
                }">
                {{requestPayment.statusDisplay}}
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>