<div class="print-bill-dialog">
  <div class="header">
    <h2 mat-dialog-title>Thanh toán đơn hàng</h2>
    <button mat-mini-fab mat-dialog-close style="background: #fff;">
      <mat-icon>close</mat-icon>
    </button>

  </div>
  <mat-dialog-content class="mat-typography">
    <div *ngFor="let message of messages" class="message alert {{message.messageClass}}" role="alert">{{message.detail}}
    </div>

    <div class="row">
      <div class="col-4">
        <p-dropdown [style]="{'width':'100%' , 'margin-bottom': '12px' }" [options]="printTypes" [(ngModel)]="billSelected"></p-dropdown>

        <!-- Phiếu xuất hàng -->
        <button *ngIf="billSelected == 1" ngxPrint printSectionId="delivery-bill-grouped"
          [styleSheetFile]="styleDeliveryBillFile" [printDelay]="printDelay" mat-button [disabled]="loading['exp']"
          class="btn btn-primary d-block w-100 mb-3">
          In phiếu xuất hàng</button>

        <!-- Phiếu yêu cầu giao hàng:  FULL SIZE -->
        <button *ngIf="billSelected == 2" ngxPrint printSectionId="request-delivery-bill-full-size"
          [styleSheetFile]="styleRequestDeliveryBillFile" [printDelay]="printDelay" mat-button
          [disabled]="loading['request']" class="btn btn-primary d-block w-100 mb-3">In phiếu yêu cầu giao hàng</button>

        <!-- Phiếu yêu cầu giao hàng : 50X50 -->
        <button *ngIf="billSelected == 3" ngxPrint printSectionId="request-delivery-bill-50x50"
          [styleSheetFile]="styleRequestDeliveryBillFile" [printDelay]="printDelay" mat-button
          [disabled]="loading['request']" class="btn btn-primary d-block w-100 mb-3">In phiếu yêu cầu giao hàng 50x50
        </button>

      </div>

      <div class="col-8">
        <!-- Phiếu xuất hàng -->
        <app-delivery-bill [printData]="{
        deliveryRequest: deliveryRequest,
        sumRequestWeight: sumRequestWeight,
        deliveryRequestCode: deliveryRequestCode,
        numOfBill: deliveryRequest.lsDetail?.length,
        visible:billSelected == 1
      }">
        </app-delivery-bill>

        <!-- Phiếu yêu cầu giao hàng : 50X50 -->
        <app-request-delivery-bill [printData]="{
        deliveryRequest: deliveryRequest,
        sumRequestWeight: sumRequestWeight,
        deliveryRequestCode: deliveryRequestCode,
        numOfBill: deliveryRequest.lsDetail?.length,
        size: '50x50',
        visible:billSelected == 2
      }">
        </app-request-delivery-bill>

        <!-- Phiếu yêu cầu giao hàng:  FULL SIZE -->
        <app-request-delivery-bill [printData]="{
        deliveryRequest: deliveryRequest,
        sumRequestWeight: sumRequestWeight,
        deliveryRequestCode: deliveryRequestCode,
        numOfBill: deliveryRequest.lsDetail?.length,
        size: 'full-size',
        visible:billSelected == 3
      }">
        </app-request-delivery-bill>


      </div>

    </div>


  </mat-dialog-content>
  <div class="spinner-wrapper" [hidden]="!(loading['exp'] || loading['ship'] || loading['request'])">
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>